{% comment %}
Receives-
  product: product object
  column: variable, bootstrap column (optional)
{% endcomment %}

<div class="{{ column | default: 'col-md-3'}} my-2">
  <div class="card product-card">
    <div class="card-body">
      <a href="{{ product.url }}">
        {% if product.featured_image != blank %}         
          <img src="{{ product.featured_image | img_url:'medium' }}" width="100%" class="card-img{%- if product.images.size > 1 and show_second_img %} featured-img{% endif %}" alt="{{ product.title }}">
          {% if product.images.size > 1 and show_second_img %}
            <img src="{{ product.images[1] | img_url:'medium' }}" width="100%" class="second-img" alt="{{ product.title }}">
          {% endif %}        
        {% else %}
          {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </a>
    </div>
    <div class="card-footer">
      {% render 'price', product:product %}
      {% if show_vendor %}
      <p class="text-uppercase vendor">{{ product.vendor }}</p>
      {% endif %}
      <a href="{{ product.url }}">{{ product.title }}</a>
    </div>
    <div class="action">
      <a href="{{ product.url }}" class="btn btn-primary w-100">View Details</a>
    </div>
  </div>
</div>
