 <!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
        </div>
    </div>
    <!--End Page Title-->
    
    <div class="container" id="mainCartSection">
      {% if cart.item_count >  0 %}
        <div class="row" id="main-cart-section" data-id="{{ section.id }}">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                <form action="/cart" method="post" class="cart style2">
                    <table>
                        <thead class="cart__row cart__header">
                            <tr>
                                <th colspan="2" class="text-center">Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-right">Total</th>
                                <th class="action">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                          {% for item in cart.items %}
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                    <a href="{{ item.url }}"><img class="cart__image" src="{{ item.image | img_url:'small' }}" alt="{{ item.title }}"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="{{ item.url }}">{{ item.title }}</a>
                                    </div>
                                    {% unless item.product.has_only_default_variant %}
                                    <div class="cart__meta-text">
                                        {% for option in item.options_with_values %}
                                          {{ option.name }}: {{ option.value }} <br>
                                        {% endfor %}
                                    </div>
                                    {% endunless %}
                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                                    <span class="money">{{ item.price | money }}</span>
                                </td>
                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="cart__qty text-center">
                                        <div class="qtyField">
                                            <a class="qtyBtn qtyCartBtn minus" href="javascript:void(0);"><i class="bi bi-dash"></i></a>
                                            <input class="cart__qty-input qty" type="text" name="updates[]" id="qty" value="{{ item.quantity }}" data-variant="{{ item.variant_id }}" pattern="[0-9]*">
                                            <a class="qtyBtn qtyCartBtn plus" href="javascript:void(0);"><i class="bi bi-plus"></i></a>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right small--hide cart-price">
                                    <div><span class="money">{{ item.final_line_price | money }}</span></div>
                                </td>
                                <td class="text-center small--hide"><a href="/cart/change?line={{ forloop.index }}&quantity=0" class="btn btn--secondary cart__remove" title="Remove tem"><i class="icon bi bi-x"></i></a></td>
                            </tr>
                          {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left"><a href="#" class="btn--link cart-continue"><i class="icon icon-arrow-circle-left"></i> Continue shopping</a></td>
                                <td colspan="3" class="text-right"><button type="submit" name="update[]" class="btn--link cart-update"><i class="fa fa-refresh"></i> Update</button></td>
                            </tr>
                        </tfoot>
                </table>
                
                <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate.</div>
                
                </form>                   
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                <div class="cart-note">
                    <div class="solid-border">
                        <h5><label for="CartSpecialInstructions" class="cart-note__label small--text-center">Add a note to your order</label></h5>
                        <textarea name="note" id="CartSpecialInstructions" class="cart-note__input"></textarea>
                    </div>
                </div>
                <div class="solid-border">
                  <div class="row">
                    <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Subtotal</strong></span>
                    <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right"><span class="money">$735.00</span></span>
                  </div>
                  <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                  <p class="cart_tearm">
                    <label>
                      <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required="">
                       I agree with the terms and conditions</label>
                  </p>
                  <input type="submit" name="checkout" id="cartCheckout" class="btn btn--small-wide checkout" value="Checkout" disabled="disabled">
                  <div class="paymnet-img"><img src="assets/images/payment-img.jpg" alt="Payment"></div>
                </div>

            </div>
        </div><!--  End of row  -->
      {% else %}
        <div class="empty_cart text-center">
          {% if settings.empty_cart != nil %}
          <img src="{{ settings.empty_cart | img_url:'medium' }}" alt="{{ settings.empty_cart.alt | escape }}">
          {% endif %}
          <div class="message">
            <p>Woops! No Items in your cart! Add some favorite products in your cart!</p>
            <div class="actions">
              <a href="{{ routes.all_products_collection_url }}" class="button btn">Browse products</a>
            </div>
          </div>
        </div>
        
      {% endif %}
    </div>
    
</div>
<!--End Body Content-->
{% schema %}
  {
    "name": "Cart template",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}