
<!--Collection Box slider-->
<div class="collection-box section">
    <div class="container-fluid">
        <div class="collection-grid">
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
            <div class="collection-grid-item">
              <a href="{{ block.settings.collection.url }}" class="collection-grid-item__link">
                {% if block.settings.collection.image != nil %}
                <img data-src="{{ block.settings.collection.image | img_url:'master' }}" src="{{ block.settings.collection.image | img_url:'master' }}" alt="{{ block.settings.collection.image.alt }}" class="blur-up lazyload"/>
                {% else %}
                  {{ 'collection-2' | placeholder_svg_tag }}
                {% endif %}
                <div class="collection-grid-item__title-wrapper">
                    <h3 class="collection-grid-item__title btn btn--secondary no-border">{{ block.settings.collection.title | escape | default:'Collection'}}</h3>
                </div>
              </a>
            </div>
          {% endfor %}
          {% else %}
            
          {% for i in (1..8) %}
            <div class="collection-grid-item">
                <a href="collection-page.html" class="collection-grid-item__link">
                    {{ 'collection-2' | placeholder_svg_tag }}
                    <div class="collection-grid-item__title-wrapper">
                        <h3 class="collection-grid-item__title btn btn--secondary no-border">Fashion</h3>
                    </div>
                </a>
            </div>
          {% endfor %}
          {% endif %}
        </div>
    </div>
</div>
<!--End Collection Box slider-->

{% schema %}
{
  "name": "Featured collections",
  "class": "featured-collections",
  "max_blocks": 12,
  "settings": [
  ],
  "blocks":[
    {
      "type": "collection",
      "name": "Collection",
      "settings":[
        {
          "type": "collection",
          "id": "collection",
          "label":"Select collection"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured collections"
    }
  ]
}
{% endschema %}