{% liquid
  assign logo = section.settings.logo
  assign menu = section.settings.menu
  assign enable_search = section.settings.enable_search_box
%}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ routes.root_url }}">
      {% if logo != null %}
        <img src="{{ logo | img_url:width:200 }}" alt="{{ shop.name }}">
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% for link in menu.links %}
          <li class="nav-item {% if link.links.size > 0 %}dropdown{% endif %}">
            <a class="nav-link {% if link.links.size > 0 %}dropdown-toggle{% endif %}" href="{{ link.url }}"
              {% if link.links.size > 0 %}
                id="navbarDropdown_{{ forloop.index }}" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              {% endif %}
            >
              {{ link.title }}
            </a>
            {% if link.links.size > 0 %}
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                {% for dropLink in link.links %}
                  <li>
                    <a class="dropdown-item" href="{{ dropLink.url }}">{{ dropLink.title }}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>  
      {% if localization.available_languages.size > 1 %}
      <div class="language_selector-area me-3">
        {% form 'localization' %}
        <select name="language_code" class="language_selector">
          {% for language in localization.available_languages %}
            {% if language.iso_code == localization.language.iso_code %}
              <option value="{{ language.iso_code }}" selected>{{ language.endonym_name | capitalize }}</option>
            {% else %}
            <option value="{{ language.iso_code }}">{{ language.endonym_name | capitalize }}</option>
            {% endif %}
          {% endfor %}
        </select>
        {% endform %}
      </div>
      {% endif %}
      {% if settings.enable_currency_selector %}
      <div class="currency-area me-3">
        {% form 'currency' %}
          <select name="currency" class="shopify-currency-form">
            {% for currency in shop.enabled_currencies %}
              {% if currency == cart.currency %}
              <option selected value="{{ currency.iso_code }}">{{ currency.iso_code }} ({{ currency.symbol }})</option>
              {% else %}
              <option value="{{ currency.iso_code }}">{{ currency.iso_code }} ({{ currency.symbol }})</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endform %}
      </div>
      {% endif %}
      {% if enable_search %}
      <div class="d-flex align-items-center">
        <form action="{{ routes.search_url }}">
          <div class="input-group">
            <input
              type="text"
              name="q"
              class="form-control"
              placeholder="Search"
              value="{{ search.terms | escape }}"
            >
            <button class="btn btn-outline-secondary" type="submit">
              Search
            </button>
          </div>
        </form>
        <div class="cart-counter mx-2">
          <a href="{{ routes.cart_url }}" class="d-flex">
            {% if cart.item_count > 0 %}
            <span class="shopping-bag">
              {% render 'icons', icon:'bag-fill' %}
            </span>
            (<span class="counter">{{ cart.item_count }}</span>)
            {% else %}
              <span class="shopping-bag">
              {% render 'icons', icon:'bag' %}
              </span>
            {% endif %}
          </a>
        </div>
        {% if shop.customer_accounts_enabled %}
        <div class="customer-account">
          {% if customer %}
            <a href="{{ routes.account_url }}">
              {% render 'icons', icon: 'person-check', size:'24' %}
            </a>
          {% else %}
            <a href="{{ routes.account_login_url }}">
              {% render 'icons', icon:'person', size:'24' %}
            </a>
          {% endif %}
        </div>
        {% endif %}
      </div>        
      {% endif %}
    </div>
  </div>
</nav>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Select logo",
      "info": "Recommended size: 200x200px"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu"
    },
    {
      "type": "header",
      "content": "Search bar"
    },
    {
      "type": "checkbox",
      "id": "enable_search_box",
      "label": "Enable search bar",
      "default": true
    }
  ]
}
{% endschema %}
