<!--Home slider-->
{% if section.blocks.size > 0 %}
    <div class="slideshow slideshow-wrapper pb-section">
        <div class="home-slideshow">
          {% for block in section.blocks %}
            <div class="slide">
                <div class="blur-up lazyload">
                    <img class="blur-up lazyload" data-src="{{ block.settings.image | img_url:'master' }}" src="{{ block.settings.image | img_url:'master' }}" alt="{{ block.settings.title }}" title="{{ block.settings.title }}" />
                    <div class="slideshow__text-wrap slideshow__overlay classic middle">
                        <div class="slideshow__text-content {{ block.settings.position_hor }}">
                            <div class="container">
                                <div class="wrap-caption {{ block.settings.position }}">
                                    <h2 class="h1 mega-title slideshow__title">{{ block.settings.title }}</h2>
                                    <span class="mega-subtitle slideshow__subtitle">{{ block.settings.content }}</span>
                                  {% if block.settings.btn_label != blank %}
                                    <a href="{{ block.settings.btn_url }}" class="btn">{{ block.settings.btn_label }}</a>
                                  {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          {% endfor %}
        </div>
    </div>
{% endif %}
    <!--End Home slider-->
{% schema %}
  {
    "name": "Slide Show",
    "settings": [],
    "blocks":[
      {
        "type": "slider",
        "name": "Slider",
        "settings":[
          {
            "type": "image_picker",
            "id": "image",
            "label": "Slider image"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Our New Collection"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content",
            "default": "<p>Save up to 50%</p>"
          },
          {
            "type": "header",
            "content": "Action button"
          },
          {
            "type": "text",
            "id": "btn_label",
            "label": "Button label",
            "default": "Shop Now"
          },
          {
            "type": "url",
            "id": "btn_url",
            "label": "Button link"
          },
          {
            "type": "header",
            "content": "Content Position"
          },
          {
            "type": "select",
            "id": "position",
            "label": "Vertical position",
            "options": [
              {
                "label": "Left",
                "value": "left"
              },
              {
                "label": "Right",
                "value": "right"
              },
              {
                "label": "Center",
                "value": "center"
              }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "position_hor",
            "label": "Horizontal position",
            "options": [
              {
                "label": "Top",
                "value": "top"
              },
              {
                "label": "Middle",
                "value": "middle"
              },
              {
                "label": "Bottom",
                "value": "bottom"
              }
            ],
            "default": "middle"
          }
        ]
      }
    ]
  }
{% endschema %}
