<section class="image-with-text-section py-5">
  <div class="container">
    <div class="row">
      {% capture image_option %}
      <div class="col-md-6">
        {% if section.settings.image != null %}
        <img src="{{ section.settings.image | img_url:'original' }}" width="100%" alt="image">
        {% else %}
        {{ 'image' | placeholder_svg_tag }}
        {% endif %}
      </div>
      {% endcapture %}

      {% if section.settings.position == 'left' %}
        {{ image_option }}
      {% endif %}

      <div class="col-md-6">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'title' %}
              <h1>{{ block.settings.title }}</h1>

            {% when 'description' %}
              <div class="description">
                {{ block.settings.description }}
              </div>
            {% when 'action' %}
              <a href="{{ block.settings.btn_url }}" class="btn btn-secondary">{{ block.settings.btn_label }}</a>
          {% endcase %}
        {% endfor %}
      </div>
      {% if section.settings.position == 'right' %}
        {{ image_option }}
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with text",
  "settings":[
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "header",
      "content": "Settings"
    },
    {
      "type": "select",
      "id": "position",
      "label": "Position",
      "default": "left",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    }
  ],
  "blocks":[
    {
      "type": "title",
      "name": "Main title",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "This is main title"
        }
      ]
    },
    {
      "type": "description",
      "name": "Description",
      "settings": [
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    },
    {
      "type": "action",
      "name": "Action",
      "settings": [
        {
          "type": "text",
          "id": "btn_label",
          "label": "Button label",
          "default": "See more"
        },
        {
          "type": "url",
          "id": "btn_url",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with text",
      "category": "Image"
    }
  ]
}
{% endschema %}
