<!-- From snippets/tabs-collections.liquid -->
{% assign limit = section.settings.pro_limit %}
<div class="tab-slider-product section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                <div class="section-header text-center">
                    <h2 class="h2">{{ section.settings.title }}</h2>
                    {{ section.settings.rte }}
                </div>
                <div class="tabs-listing">
                    <ul class="tabs clearfix">
                      {% for block in section.blocks %}
                        <li {% if forloop.first %}class="active"{% endif %} rel="tab{{ forloop.index }}">{{ block.settings.tab_title }}</li>
                      {% endfor %}
                    </ul>
                    <div class="tab_container">
                      {% for block in section.blocks %}
                        <div id="tab{{ forloop.index }}" class="tab_content grid-products">                            
                          {% assign view_style = section.settings.view_style %}
                          {% case view_style %}
                            {% when 'grid' %}
                            <div class="row"  {{ block.shopify_attributes }}>
                              {% for product in block.settings.collection.products limit:limit %}
                                {% render 'product-card', product:product %}
                              {% endfor %}
                            </div>
                            {% when 'slider' %}
                            <div class="productSlider" {{ block.shopify_attributes }}> 
                              {% for product in block.settings.collection.products limit:limit %}
                                {% render 'product-slider', product:product %}
                              {% endfor %}
                            </div>
                          {% endcase %}           
                        </div>
                     </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>    
    </div>
</div>
<!--Collection Tab slider-->

{% schema %}
{
  "name": "Collections tab",
  "class": "collections-tab",
  "settings":[
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collections"
    },
    {
      "type": "richtext",
      "id": "rte",
      "label": "Sub text",
      "default": "<p>Browse the huge variety of our products</p>"
    },
    {
       "type": "select",
       "id": "view_style",
       "label": "View style",
       "options":[
         {
           "label": "Slider",
           "value": "slider"
         },
         {
           "label": "Grid",
           "value": "grid"
         }
       ],
       "default": "slider"
     },
     {
       "type": "number",
       "id": "pro_limit",
       "label": "Product limit",
       "default": 4
     }
  ],
  "blocks": [
    {
      "type": "collection",
      "name": "collection",
      "settings": [
        {
          "type": "text",
          "id": "tab_title",
          "label": "Tab title",
          "default": "Featured"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        }
      ]
    }
  ],
  "presets":[
    {
      "name": "Collections tab"
    }
  ]
}
{% endschema %}